<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <div class="display-1 text-center">
        Agenda
        <p class="text-center lead">Seus contatos estão abaixo:</p>

        
        <div class="responsive-table">
          <table class="table my-3">
            <tr>
              <td>Charlotte</td>
              <td>Galli</td>
              <td>998763331231</td>
              <td>charlotte.galli@gmail.com</td>
            </tr>

            <tr>
              <td>Ethan</td>
              <td>Hawks</td>
              <td>9987633522</td>
              <td>ethan.hawks@gmail.com</td>
            </tr>

            <tr>
              <td>Wes</td>
              <td>Guedes</td>
              <td>77645124234</td>
              <td>guedeswes@gmail.com</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
